.home{
  margin-bottom: 2rem;
}
.card_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  width: 49%;
  background: #222235;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 32px;
}

.card h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;

  display: flex;
  align-items: center;
  letter-spacing: -1px;

  color: #fff;
}

.card p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;

  display: flex;
  align-items: center;
  letter-spacing: -1px;

  color: #fff;
}

.card_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #515C8D;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 auto;
}

.card_icon svg{
  font-size: 30px;
  color: #0029FF;
}

@media screen and (max-width: 991.9px) {
  .card_block{
    padding-right: 54px;
  }
}

@media screen and (max-width:700.9px) {
  .card h1{
    font-size: 18px;
    line-height: 27px;
  }
  .card p{
    font-size: 23px;
    line-height: 36px;
  }
}

@media screen and (max-width:500.9px) {
  .card_block{
    flex-direction: column;
  }
  .card{
    width: 100%;
  }

}