body {
  overflow-x: hidden;
  background-color: #1e1e1e;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #161624;
}

.site-layout-background {
  background: #fff;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  color: #fff !important;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-select:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  box-shadow: none;
}
:where(.css-ph9edi).ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector,
:where(.css-dev-only-do-not-override-ph9edi).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector,
:where(.css-dev-only-do-not-override-ph9edi).ant-select:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border-color: transparent;
}
:where(.css-ph9edi).ant-select-single,
:where(.css-dev-only-do-not-override-ph9edi).ant-select-single {
  width: 70px !important;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-select .ant-select-arrow,
:where(.css-dev-only-do-not-override-ph9edi).ant-select-single
  .ant-select-selector {
  color: #000;
}
:where(.css-ph9edi).ant-layout .ant-layout-sider-zero-width-trigger,
:where(.css-dev-only-do-not-override-ph9edi).ant-layout
  .ant-layout-sider-zero-width-trigger {
  top: 0;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-layout
  .ant-layout-sider-zero-width-trigger,
:where(.css-ph9edi).ant-layout .ant-layout-sider-zero-width-trigger {
  background: #161624 !important;
  inset-inline-end: -54px;
  width: 60px;
  height: 91px;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}
:where(.css-ph9edi).ant-select:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer):hover
  .ant-select-selector,
:where(.css-ph9edi).ant-layout
  .ant-layout-sider-zero-width-trigger:hover::after,
:where(.css-dev-only-do-not-override-ph9edi).ant-layout
  .ant-layout-sider-zero-width-trigger:hover::after {
  background-color: transparent !important;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-menu
  .ant-menu-item
  .ant-menu-item-icon,
:where(.css-ph9edi).ant-menu .ant-menu-item .ant-menu-item-icon {
  min-width: 20px;
  font-size: 19px;
}

/* --------Contact-------- */
:where(.css-dev-only-do-not-override-ph9edi).ant-table-wrapper .ant-table {
  background-color: #222235 !important;
  border-radius: 0;
}
:where(.css-dev-only-do-not-override-ph9edi).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-ph9edi).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  background-color: #161624;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
  padding: 20px;
}
:where(.css-dev-only-do-not-override-ph9edi).ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:last-child,
:where(.css-dev-only-do-not-override-ph9edi).ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-radius: 0;
}
:where(.css-dev-only-do-not-override-ph9edi).ant-table-wrapper .ant-table {
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
}

:where(.css-dev-only-do-not-override-ph9edi).ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  content: none;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-table-wrapper
  .ant-table-tbody
  > tr.ant-table-row:hover
  > th,
:where(.css-dev-only-do-not-override-ph9edi).ant-table-wrapper
  .ant-table-tbody
  > tr.ant-table-row:hover
  > td,
:where(.css-dev-only-do-not-override-ph9edi).ant-table-wrapper
  .ant-table-tbody
  > tr
  > th.ant-table-cell-row-hover
  > td.ant-table-cell-row-hover {
  background: #00072d;
}

thead.ant-table-thead tr th:nth-child(4) {
  width: 30%;
}
thead.ant-table-thead tr th:nth-child(1) {
  width: 5%;
}

td.ant-table-cell {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

@media screen and (max-width: 500.9px) {
  .ant-select,
  .ant-select {
    display: none;
  }

  :where(.css-dev-only-do-not-override-ph9edi).ant-layout
    .ant-layout-sider-zero-width-trigger,
  :where(.css-ph9edi).ant-layout .ant-layout-sider-zero-width-trigger {
    height: 79px;
  }
}

@media (min-width: 501px) and (max-width: 1192.9px) {
  .ant-select-selector {
    margin-right: 5px;
  }
  :where(.css-ph9edi).ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    background-color: transparent;
  }
  :where(.css-ph9edi).ant-select,
  :where(.css-ph9edi).ant-select-single .ant-select-selector {
    color: #fff;
  }
}
