body {
  overflow-x: hidden;
  background-color: #1e1e1e;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #161624;
}

.site-layout-background {
  background: #fff;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  color: #fff !important;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-select:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  box-shadow: none;
}
:where(.css-ph9edi).ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector,
:where(.css-dev-only-do-not-override-ph9edi).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector,
:where(.css-dev-only-do-not-override-ph9edi).ant-select:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border-color: transparent;
}
:where(.css-ph9edi).ant-select-single,
:where(.css-dev-only-do-not-override-ph9edi).ant-select-single {
  width: 70px !important;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-select .ant-select-arrow,
:where(.css-dev-only-do-not-override-ph9edi).ant-select-single
  .ant-select-selector {
  color: #000;
}
:where(.css-ph9edi).ant-layout .ant-layout-sider-zero-width-trigger,
:where(.css-dev-only-do-not-override-ph9edi).ant-layout
  .ant-layout-sider-zero-width-trigger {
  top: 0;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-layout
  .ant-layout-sider-zero-width-trigger,
:where(.css-ph9edi).ant-layout .ant-layout-sider-zero-width-trigger {
  background: #161624 !important;
  inset-inline-end: -54px;
  width: 60px;
  height: 91px;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}
:where(.css-ph9edi).ant-select:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer):hover
  .ant-select-selector,
:where(.css-ph9edi).ant-layout
  .ant-layout-sider-zero-width-trigger:hover::after,
:where(.css-dev-only-do-not-override-ph9edi).ant-layout
  .ant-layout-sider-zero-width-trigger:hover::after {
  background-color: transparent !important;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-menu
  .ant-menu-item
  .ant-menu-item-icon,
:where(.css-ph9edi).ant-menu .ant-menu-item .ant-menu-item-icon {
  min-width: 20px;
  font-size: 19px;
}

/* -------contact pagination------- */
:where(.css-ph9edi).ant-pagination.ant-pagination-simple
  .ant-pagination-simple-pager
  input,
:where(
    .css-dev-only-do-not-override-ph9edi
  ).ant-pagination.ant-pagination-simple
  .ant-pagination-simple-pager
  input {
  background-color: #00072d;
  font-size: 16px;
  padding: 0.3rem;
  border: none;
  color: #fff;
}
:where(.css-ph9edi).ant-pagination.ant-pagination-simple
  .ant-pagination-simple-pager,
:where(
    .css-dev-only-do-not-override-ph9edi
  ).ant-pagination.ant-pagination-simple
  .ant-pagination-simple-pager {
  height: auto;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-pagination
  .ant-pagination-disabled
  .ant-pagination-item-link,
:where(.css-ph9edi).ant-pagination
  .ant-pagination-disabled
  .ant-pagination-item-link {
  color: rgb(250 250 250 / 30%);
}

/* btn */
:where(.css-ph9edi).ant-pagination,
:where(.css-ph9edi).ant-pagination .ant-pagination-prev button,
:where(.css-ph9edi).ant-pagination .ant-pagination-next button,
:where(.css-dev-only-do-not-override-ph9edi).ant-pagination,
:where(.css-dev-only-do-not-override-ph9edi).ant-pagination
  .ant-pagination-prev
  button,
:where(.css-dev-only-do-not-override-ph9edi).ant-pagination
  .ant-pagination-next
  button {
  color: #fff;
}

ul.ant-pagination.ant-pagination-simple.Contact_pagination__Gp9aV.css-dev-only-do-not-override-ph9edi {
  display: flex;
  justify-content: flex-end;
}
ul.ant-pagination.ant-pagination-simple.Contact_pagination__nw0\+m.css-ph9edi{
  justify-content: end;
}
@media screen and (max-width: 500.9px) {
  .ant-select,
  .ant-select {
    display: none;
  }

  :where(.css-dev-only-do-not-override-ph9edi).ant-layout
    .ant-layout-sider-zero-width-trigger,
  :where(.css-ph9edi).ant-layout .ant-layout-sider-zero-width-trigger {
    height: 79px;
  }
}

@media (min-width: 501px) and (max-width: 1192.9px) {
  .ant-select-selector {
    margin-right: 5px;
  }
  :where(.css-ph9edi).ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    background-color: transparent;
  }
  :where(.css-ph9edi).ant-select,
  :where(.css-ph9edi).ant-select-single .ant-select-selector {
    color: #fff;
  }
}
